body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c2232;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nortextcolor{
  color: #858e9d;
}
.darkbackcolor{
  background-color:#1c2232;
}
.buttonbackcolor{
  background-color:#7b5be3;
}
.loginput {
  background-color:#222a3d;
   border: solid 2px #393e51;
}
